<%= simple_form_for([@room, @message]) do |f| %>
  <div class="field has-addons" style='align-items:flex-end'>
    <div class="control mt-3">
      <%= f.input :body, 
          input_html: { id: 'message-input', class: 'input' },
          label: false,
          wrapper: false,
          placeholder: 'Say something!' %>
    </div>
    <div class="control">
      <%= f.button :button,
          class: 'button is-primary submitter' %>
    </div>
  </div>
  <%
=begin%>
 <%= f.hidden_field :room_id, value: @room.id %> 
<%
=end%>
<% end %>