<div>
  <%= simple_form_for([@room, @message]) do |f| %>
    <div class="field has-addons" style='align-items:flex-end;margin-bottom:20px;'>
      <div class="control mt-3">
        <%= f.input :body, 
            input_html: { id: 'message-input', class: 'input' },
            label: false,
            wrapper: false,
            placeholder: 'Say something!' %>
      </div>
      <div class="control">
<<<<<<< HEAD
        <%= f.button :submit,
            data: { disable_with: false },
            class: 'button is-primary is-outlined submitter',
            controlsList: "nodownload", 
            style: 'width: 8em;' %>
=======
        <button class= 'button is-primary is-outlined submitter' style='width: 8em;'>Send Message</button>
>>>>>>> 4c53b59bae6cbff27b8daace2a0a2e3ca27a0ec5
      </div>
    </div>
  <% end %>
</div>
