<header class="nav">
  <div class="nav-start">
    <div class="nav-name">
    </div>
  </div>
  <div class="nav-end">
    <% if user_signed_in? %>
      <div class="dropdown">
        <div class="navbar-item dropbtn">
          <h3 class="title is-3"><%= current_user.username %><i class="fa fa-caret-down ml-3"></i></h3>
        </div>
        <div class="dropdown-content" id='myDropdown'>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="dropdown-item">Logout</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</header>