/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require main
 *= require_self
 */

@media only screen and (max-width: 1080px){
  .nav{
    margin: 0px;
  }
}

@media only screen and (min-width: 1080px){
  .nav{
    margin: 0px 100px;
  }
}

.button{
  transition: .2s all ease-in-out;
}

#flash{
  margin-left: auto;
}

.container{
  margin: 0px;
}

.notification{
  display: flex;
  justify-content: space-between;
}

.odin-test{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 80%;
}

.hide-flash {
  opacity: 0;
  transition: 0.5s ease;
  margin: 0px auto
}

.title{
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  color: rgb(248, 239, 213);
}

.box{
  box-shadow: none;
  border: 1px solid silver;
}

.label{
  color: rgb(248, 239, 213);
  font-weight: 400;
}

a{
  transition: all .2s ease-in-out;
}

a:hover{
  color: rgba(255, 255, 0, 0.507);
}

.nav{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid silver;
}

.dropbtn{
  transition: .3s all ease-in-out;
  cursor: pointer;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  // margin-top: 10px;
}

.dropdown{
  display: inline-block;
  position: relative;
}

.dropdown-content{
  transition: .5s all ease-in-out;
  opacity: 0;
  position: absolute;
  min-width: 100%;
  z-index: 1;
  background-color: transparent;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-radius: 0;
  border-bottom: 1px solid silver;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .9), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  padding: 0px;
  border-radius: 0 0 10px 10px;
}

.dropdown-item{
  transition: .3s all ease-in-out;
  padding: 10px;
  font-size: 20px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-item:hover, .dropbtn:hover{
  background-color: #44444469;
}

.show{
  opacity: 1;
}

.fa-caret-down{
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  font-size: 25px;
}

.fa-caret-down.down{
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}


::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #000000;
}


::-webkit-scrollbar{
	width: 12px;
  background-color: #000000;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
