/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require main
 *= require_self
 */

// *{
//   color: rgb(248, 239, 213);
// }

// @media (max-width: 1080px){

// }

.button{
  transition: .2s all ease-in-out;
}

#flash{
  margin-left: auto;
}

.container{
  margin: 0px;
}

.notification{
  display: flex;
  justify-content: space-between;
}

.odin-test{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 80%;
}

.hide-flash {
  opacity: 0;
  transition: 0.5s ease;
  margin: 0px auto
}

.title{
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  color: rgb(248, 239, 213);
}

.box{
  box-shadow: none;
  border: 1px solid silver;
}

.label{
  color: rgb(248, 239, 213);
  font-weight: 400;
}

a{
  transition: all .2s ease-in-out;
}

a:hover{
  color: rgba(255, 255, 0, 0.507);
}