@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Ubuntu&display=swap');
$family-primary: 'Ubuntu', sans-serif;
$body-background-color: #202225;
$box-background-color: rgb(68, 68, 68);
$link: white;
@import 'bulma';
@import '_layout';