$family-primary: 'Ubuntu', sans-serif;
$body-background-color: #000000e6;
$box-background-color: rgb(68, 68, 68);
$link: white;
$text: white;
$message-header-background-color: transparent;
$message-body-color: $text;
$message-header-color: #f8efd5;
$message-header-weight: 400;
$message-body-padding: .125rem;
$message-header-padding: .125rem;
$message-background-color: transparent;
@import "font-awesome";
@import 'bulma';
@import '_layout';
@import 'rooms';
