$family-primary: 'Ubuntu', sans-serif;
$body-background-color: #202225;
$box-background-color: rgb(68, 68, 68);
$link: white;
$text: rgb(248, 239, 213);
$message-header-background-color: hsl(0, 0%, 29%);
$message-body-color: hsl(0, 0%, 29%);
$message-header-color: #f8efd5;
$message-header-weight: 400;
$message-body-padding: .125rem;
$message-header-padding: .125rem;
@import "font-awesome";
@import 'bulma';
@import '_layout';
@import 'rooms';
