// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#message-display {
  height: 60vh;
  overflow: auto
}

#message-input {
  width: 60vw;
}

.message-header{
  font-size: 20px;
}

// @media only screen and (max-width: 1080px){

// }

// @media only screen and (min-width: 1080px){
//   .room{
//     margin-left: 200px;
//   }
// }

.display{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.rooms.box{
  margin: 0px;
}