// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#message-display {
  height: 60vh;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

#message-input {
  width: 60vw;
}

.message{
  margin-bottom: 5px;
}

.message-header{
  font-size: 20px;
  justify-content: flex-start;
}

.display{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.rooms.box{
  margin: 0px;
  .room-title{
    background-color: dimgray;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    box-shadow: 2px 0em 1em -0.125em rgba(0, 0, 0, .6), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  }
  .room-title:not(:last-child){
    margin-bottom: 10px;
  }
}

.time{
  font-size: 13px;
  margin-left: 15px;
}

.panel{
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  transition: 1s ease;
  opacity: 0;
  width: 100%;
}

.panel.show{
  opacity: 1;
  max-height: 500px;
  max-width: 500px;
  position: relative;
  width: 100%;
}

.fa-circle{
  font-size:10px;
  color: gray;
  &.online{
    color: rgb(47, 255, 64);
  }
}